.skills{
    padding:80px 10%;
    background:#020617;
    color:white;
    text-align:center;
}

.skills h2{
    font-size:36px;
    margin-bottom:40px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:25px;
}

.skill-card{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* background:#0f172a; */
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

.skill-card:hover .skill-icon {
    transform: scale(1.2) rotate(5deg);
}

.skill-card:hover{
    transform:translateY(-6px);
    background:#1e293b;
}

.skill-icon{
    font-size:40px;
    color:#00d4ff;
    margin-bottom:10px;
}

@media (max-width: 768px){

  .skills-container{
      grid-template-columns: repeat(2,1fr);
      gap:15px;
  }

  .skill-icon{
      font-size:30px;
  }

}